<ion-view title="Home" id="page2">
  <ion-nav-buttons side="left" class="has-header">
    <button class="button button-icon icon ion-android-menu" ng-click="openMenu()"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header" style="background-color: #ffffff;">
    <div>
      <img src="img/Header.png" style="margin: 0; padding: 0; width: 100%">
      <br></br>
      <div style="text-align: center;">
        Sistema Experto para Diagnóstico de Enfermedades en Cultivos (SEDEC), busca la puesta en uso, mediante una plataforma web,
        de un algoritmo de reconocimiento de imágenes, más específicamente una librería desarrollada por estudiantes del
        Tecnológico de Costa Rica, que mediante fotografías de plantas infectadas por enfermedades o plagas, determina el
        avance de las mismas y ofrece una recomendación sobre el tratamiento que se les debe brindar a las plantaciones analizadas.
        Está dirigido a agricultores que necesiten una forma rápida, accesible y verás de determinar métodos para combatir
        enfermedades en sus plantaciones.
      </div>
    </div>
    <br></br>
    <div>
      <img src="img/Process.png" style="display: block; margin: auto; width: 100%;">
    </div>
  </ion-content>
</ion-view>