<ion-view title="Perfil" id="page3">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="perfil-card21">
      <ion-item id="perfil-list-item29">{{userData.userName}}</ion-item>
      <div class=" item item-image">
        <img src="{{userData.userProfilePicture}}" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="item item-body" id="perfil-list-item-container16">
        <div id="perfil-markdown22" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Correo: {{userData.userMail}}</p>
        </div>
      </div>
      <div class="item item-body" id="perfil-list-item-container15">
        <div id="perfil-markdown21" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Organización: {{userData.organizationName}}</p>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>